In [1]:
n = 2
print(n*2)

4

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/terrygilmore/Downloads/202005-divvy-tripdata.csv')
print(df.head())

            ride_id rideable_type           started_at             ended_at  \
0  02668AD35674B983   docked_bike  2020-05-27 10:03:52  2020-05-27 10:16:49
1  7A50CCAF1EDDB28F   docked_bike  2020-05-25 10:47:11  2020-05-25 11:05:40
2  2FFCDFDB91FE9A52   docked_bike  2020-05-02 14:11:03  2020-05-02 15:48:21
3  58991CF1DB75BA84   docked_bike  2020-05-02 16:25:36  2020-05-02 16:39:28
4  A79651EFECC268CD   docked_bike  2020-05-29 12:49:54  2020-05-29 13:27:11

           start_station_name  start_station_id  \
0  Franklin St & Jackson Blvd                36
1   Clark St & Wrightwood Ave               340
2  Kedzie Ave & Milwaukee Ave               260
3  Clarendon Ave & Leland Ave               251
4     Hermitage Ave & Polk St               261

                 end_station_name  end_station_id  start_lat  start_lng  \
0          Wabash Ave & Grand Ave           199.0    41.8777   -87.6353
1           Clark St & Leland Ave           326.0    41.9295   -87.6431
2      Kedzie Ave & Milwaukee Ave           260.0    41.9296   -87.7079
3  Lake Shore Dr & Wellington Ave           157.0    41.9680   -87.6500
4         Halsted St & Archer Ave           206.0    41.8715   -87.6699

   end_lat  end_lng member_casual
0  41.8915 -87.6268        member
1  41.9671 -87.6674        casual
2  41.9296 -87.7079        casual
3  41.9367 -87.6368        casual
4  41.8472 -87.6468        member

In [3]:
df.to_csv('clean_csv.csv' columns = ['start_station_name', 'member_casual'])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3998699560.py, line 1)

In [4]:
df.to_csv('clean_csv.csv', columns = ['start_station_name', 'member_casual'])

In [5]:
#added new code to test out vscode enironment. success

In [6]:
import matplotlib.pyplot as plt

In [7]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [1]:
import seaborn as sns

In [ ]:
import numpy as np